# {{ ansible_managed }}
    upstream {{item.value.name}}  {
      {% for host in groups[item.value.backend_group] %}
      server {{ hostvars[host].ansible_all_ipv4_addresses[1] }}:{{item.value.backend_port}};
      {% endfor %}
    }

    server {
        listen 80;
        server_name {{ item.value.virhost }};

        location / {
          
          	proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass http://{{item.value.name}};
        }
    }